@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color:  #5271ff;
    width: 100%;
    height: 60px;
    position: fixed;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.13);
    z-index: 99;
    padding-top: 0px;
    padding-left: 270px !important;
}
.accountBar{
    width: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.151);
    height: 50px;
    margin-top: 5px;
    top: 0;
    margin-right: 0px;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 50px;
}
.accountBar>img{
    margin-top: 5px;
    width: 40px;
    height: 40px;   
}
.accountBarText{
    margin-top: 5px;
    padding-left: 10px;
    width: fit-content;
    float: right;
}
.accountBarText>h1{
    font-size: 16px;
    color: rgb(31, 31, 31);

}
.accountBarText>h2{
    color: rgba(31, 31, 31, 0.719);
    font-size: 14px;
    margin-top: -5px;
}
.sidebarToggler{
    margin-top: 2px;
    position: absolute;
    z-index: 111111111;
}
.sidebarToggler>svg{
    width: 35px;
    color: white;
}
.profilemodal{
    background-color: rgba(54, 54, 54, 0.911);
    z-index: 999;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    margin-left: 30px;
    margin-top: 4px;
}
.profilemodal>ul{
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.profilemodal>ul>li{
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}
.profilemodal>ul>li>button{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(204, 204, 204);
    border: none;
    padding: 0px;
}
.profilemodal>ul>li>button:hover{
    color: #4d66d3;
    cursor: pointer;
}
.profilemodal>ul>li>a:hover{
    color: #4d66d3;
    cursor: pointer;
}
.profilemodal>ul>li>a{
    color: rgb(204, 204, 204);
    text-decoration: none;
}
/* Sidebar */
.Logo{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.SmallLogo{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.sidebar{
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.096);
    position: fixed;
    z-index:999 ;
    overflow-x: scroll;
}
.sidebar::-webkit-scrollbar{
    opacity: 0;
}
.sidebar>ul{
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.sidebar>ul>li{
    list-style: none;
    text-decoration: none;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    background-color:rgba(196, 196, 196, 0.041);
    border-radius: 10px;
}
.sidebar>ul>li>a{
    color: rgb(48, 48, 48);
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    position: absolute;
}
.sidebar>ul>li>a>svg{
    width: 17px;
    margin-right: 10px;
    padding-bottom: 3.3px;
    stroke:rgba(73, 73, 73, 0.212);
}

.active{
    background-color: #5271ff !important;
    border-radius: 12px;
}
.active>a{
    color: white !important;
}
.active>a>svg{
    stroke: rgba(255, 255, 255, 0.123) !important;
}
.sidebar>ul>li:hover{
    background-color:rgba(196, 196, 196, 0.24);
    border-radius: 10px;
}
.sidebar>ul>li>a>span{
    opacity: 1;
    transition: 0.2s;
    transition-delay: 0.2s;
}

/* Mobile Sidebar */
.msidebar{
    width: 90px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.096);
    position: fixed;
    z-index:999 ;
}
.msidebar>ul{
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.msidebar>ul>li{
    list-style: none;
    text-decoration: none;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    background-color:rgba(196, 196, 196, 0.041);
    border-radius: 15px;
}
.msidebar>ul>li>a{
    color: rgb(48, 48, 48);
    position: absolute;
    width: 70%;
}
.msidebar>ul>li>a>svg{
    width: 27px;
    padding: 1px;
    stroke:rgba(73, 73, 73, 0.212);
    margin: auto;
    display: flex;
    padding-top: 13px;
    padding-right: 4px;
}
.msidebar>ul>li>a>span{
    opacity: 0;
}
.msidebar>ul>li:hover{
    background-color:rgba(196, 196, 196, 0.24);
}

/* BodyMaterial */
.pageMaterial{
    width: 100%;
    padding-top: 90px;
    padding-right: 22px;
    padding-left: 270px;
}
.Box{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.137);
    padding: 10px;
    margin-bottom: 50px;
    padding-top: 35px;
}

/* Category Page CSS */

.categoryTable{
    padding: 20px;
}
.categoryTable>table{
   border: 1px solid black;
   text-align: center;
}
.categoryTable>table>thead{
    background-color:#363636;
    color: white;
 }
 .categoryTable>table>thead>tr>th{
    font-weight: 500;
    letter-spacing: 0.2px;
 }
.addbutton{
    background-color: #3d3d3d;
    color: white;
    width: 190px;
    height: 35px;
    border-radius: 100px;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.addbutton>h1{
    text-align: center;
    font-size: 15px;
    font-family: Mulish;
    line-height: 35px;
}

.AddcategoryModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.986);
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    z-index: 99999;
    border-radius: 15px;
}
.AddcategoryModal>svg{
    width: 30px;
    color: #f5f5f5dc;
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: rgba(235, 80, 80, 0.685);
    border-radius:10px;
}
.AddcategoryModal>svg:hover{
    background-color: rgba(235, 80, 80, 0.979);
}
.AddcategoryModal>form>h1{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #292929dc;
    font-family: 'Comfortaa', cursive;
}
.AddcategoryModal>form>p{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #292929dc;
    font-weight: 500;
}
.AddcategoryModal>form>p>span{
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #175ef8dc;
    font-weight: 600;
}
.blurbg{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000de;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.logininput{
    width: 350px !important;
    background-color: #e6e4e4 !important;
}

/* #regpassword{
} */
/* #passwordeye{
    position: absolute;
    top: 30px;
    right:345px;
    cursor: pointer;
} */
.form-control{
    background-color: rgba(233, 233, 233, 0.534);
    padding-left: 30px;
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.classform>div>label{
    font-size: 14px;
    margin-bottom: -10px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 10px;
}
.submitbutton{
    width: 100%;
}
.buttonarea{
    justify-content: center;
}
.left{
    padding-top: 50px;
}
.left>img{
    width:100%;
}
.left>h1{
    font-size: 55px;
    text-align: center;
    margin-top: -30px;
    color: rgb(247, 200, 144);
}
.Box>table>thead{
    background-color: rgb(240, 239, 239);
    color: rgba(0, 0, 0, 0.781);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}
.Box>table>tbody{
    text-align: center;
}
.studentimage{
    width: 100%;
    height: 100%;
    background:url("https://icon-library.com/images/icon-gallery-android/icon-gallery-android-18.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;

}
.studentimagebox{
    padding: 100px;
}
.studentimage>input{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.studentimage>label{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 430px;
}
.selectbtn{
    background-color: rgb(0, 211, 123);
    border: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    
}
.Addaccount>label{
    margin-top: 8px;
    line-height: 30px;
}
.Viewaccount>label{
    margin-top: 8px;
    line-height: 30px;  
}
.Viewaccount>input{
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    color: black; 
}